.git
.gitignore
.vscode

barbershop-app

**/node_modules
**/vendor

barbershop-laravel/.env
barbershop-laravel/bootstrap/cache/*.php
barbershop-laravel/public/build
barbershop-laravel/storage/logs/*
barbershop-laravel/storage/framework/cache/data/*
barbershop-laravel/storage/framework/sessions/*
barbershop-laravel/storage/framework/views/*

*.log
.DS_Store
